numpy==1.14.1
scipy==0.19.0
bqplot==0.10.1
ipywidgets==7.1.2
ipykernel==4.8.2
ipython==5.5.0
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.2.1
pathlib2==2.3.0
scandir==1.7
six==1.11.0
pexpect==4.4.0
ptyprocess==0.5.2
pickleshare==0.7.4
prompt-toolkit==1.0.15
wcwidth==0.1.7
pygments==2.2.0
enum34==1.1.6
ipython-genutils==0.2.0
traitlets==4.3.2
traittypes==0.0.6
jupyter-client==5.2.2
jupyter-core==4.4.0
python==dateutil==2.6.1
pyzmq==17.0.0
tornado==4.5.3
backports-abc==0.5
certifi==2018.1.18
singledispatch==3.4.0.3
widgetsnbextension==3.1.4
notebook==5.4.0
pandas==0.21.0
pytz==2018.3

